syntax: glob
.classpath
.project
.settings
target
.idea
*.iws
*.ipr
*.iml
out
build
**/build
**/.DS_Store
**/.idea
**/.gradle
**/.classpath
**/.project
**/.settings
**/target
**/*.iml
**/*.pyc
**/*.tar.gz
.git
.gitattributes
.gitignore
.factorypath
**/*.retry
